<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#111111" />
		<link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<title>Toadstool</title>
	</head>
	<body class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active" aria-current="page">Toadstool</li>
			</ol>
		</nav>
		<div class="row no-gutters">
			<h3 class="col">Scripts</h3>
		</div>
		<div class="row no-gutters">
			<div class="col">
				<table class="table table-striped table-hover" style="width: 100%">
					<thead>
						<tr>
							<th>Script</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						{{range .Scripts}}
							<tr>
								<td><a href="/script/{{.Name}}">{{.Name}}</a></td>
								<td>{{.Desc}}</td>
							</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
