<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#111111" />
		<link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script>
			function setupSocket() {
				var loc = window.location
				var url

				if (loc.protocol === "https:") {
					url = "wss:"
				} else {
					url = "ws:"
				}

				url += "//" + loc.host
				url += loc.pathname + "/socket"

				return new WebSocket(url)
			}

			$(function() {
				var socket = setupSocket()

				socket.onopen = function() {
					$("#status").html("started")

					$("#stdinButton").click(function() {
						$("#stdinButton").prop("disabled", true)
						$("#stdin").prop("disabled", true)

						var msg = {
							"Msg": $("#stdin").val()
						}

						console.log(JSON.stringify(msg))

						socket.send(JSON.stringify(msg))
					})
				}

				socket.onmessage = function(e) {
					var msg = JSON.parse(e.data)

					if (msg.Type === "stdinReceived") {
						$("#stdinButton").prop("disabled", false)
						$("#stdin").prop("disabled", false)
					} else {
						console.log(msg.Type, msg.Msg)
						$("#" + msg.Type).find("textarea").append(document.createTextNode(msg.Msg))
					}
				}

				socket.onclose = function() {
					$("#stdinButton").prop("disabled", true)
					$("#stdin").prop("disabled", true)
					$("#status").html("done")
				}
			})
		</script>
		<title>Job #{{.Job.Id}}</title>
	</head>
	<body class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Toadstool</a></li>
				<li class="breadcrumb-item"><a href="/script/{{.Job.Script.Name}}">{{.Job.Script.Name}}</a></li>
				<li class="breadcrumb-item active" aria-current="page">Job #{{.Job.Id}}</li>
			</ol>
		</nav>
		<div class="row no-gutters">
			<div id="status col"></div>
		</div>
		<div class="row no-gutters form-group">
			<input id="stdin" class="col form-control" type="text" placeholder="Input" style="padding-left: 10px; margin-right: 10px" />
			<button id="send" type="button" class="btn btn-primary form-control">Send</button>
		</div>
		<div class="row no-gutters">
			<div class="col">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#stdout">Output</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#stderr">Errors</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#files">Files</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#info">Info</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane container active" id="stdout" style="margin: 0px; padding: 0px">
						<textarea class="form-control" readonly="readonly" rows="15" style="width: 100%"></textarea>
					</div>
					<div class="tab-pane container fade" id="stderr" style="margin: 0px; padding: 0px">
						<textarea class="form-control" readonly="readonly" rows="15" style="width: 100%"></textarea>
					</div>
					<div class="tab-pane container fade" id="files" style="margin: 0px; padding: 0px">
						<ul class="list-group">
							<li class="list-group-item">Input Files
								<ul class="list-group">
									<li class="list-group-item">Item 2a</li>
									<li class="list-group-item">Item 2b</li>
								</ul>
							</li>
							<li class="list-group-item">Output Files
								<ul class="list-group">
									<li class="list-group-item">Item 3a</li>
									<li class="list-group-item">Item 3b</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="tab-pane container fade" id="info" style="margin: 0px; padding: 0px">
						<table class="table table-striped table-hover" style="width: 100%">
							<tbody>
								<tr>
									<th>Job #</th>
									<td>1</td>
								</tr>
								<tr>
									<th>Command</th>
									<td>test | cake</td>
								</tr>
								<tr>
									<th>Submitted</th>
									<td></td>
								</tr>
								<tr>
									<th>Started</th>
									<td></td>
								</tr>
								<tr>
									<th>Finished</th>
									<td></td>
								</tr>
								<tr>
									<th>Time Elapsed</th>
									<td></td>
								</tr>
								<tr>
									<th>Status</th>
									<td></td>
								</tr>
								<tr>
									<th>Exit Code</th>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>