<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#111111" />
		<link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<style>
			.progressbar-container {
				visibility: hidden;
				width: 50%;
				position: relative;
				top: 25%;
				margin-right: 10px;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script>
			function basename(path) {
				return path.split('/').reverse()[0]
			}

			function getPaths(q, cb) {
				if (q.term.startsWith("/")) {
					$.getJSON("/files/" + encodeURIComponent(q.term), function(paths) {
						var suggestions = []

						for (path of paths) {
							suggestions.push({
								label: basename(path),
								value: path
							})
						}

						cb(suggestions)
					})
				}
			}

			function run() {
				$(".progressbar-container").css("visibility", "visible")
				$("#run").prop("disabled", "disabled")

				$.ajax({
					url: "{{.Script.Name}}/run",
					type: "POST",
					data: new FormData($('#args')[0]),
					cache: false,
					contentType: false,
					processData: false,
					dataType: "json",
					xhr: function() {
						var myXhr = $.ajaxSettings.xhr()

						if (myXhr.upload) {
							myXhr.upload.addEventListener('progress', function(e) {
								if (e.lengthComputable) {
									var percent = e.loaded / e.total * 100
									
									$("#uploadProgress").css("width", percent + "%")
									$("#uploadProgress").attr("aria-valuenow", percent)
								}
							}, false)
						}

						return myXhr;
					},
					success: function(data) {
						window.location.replace("/job/" + data.Id)
					}
				})
			}

			$(function() {
				$(".serverFilePath").autocomplete({
					source: getPaths,
					delay: 0
				})

				function clear() {
					$("input").val("")
				}

				$("#run").click(run)
				$("#clear").click(clear)
			})
		</script>
		<title>Toadstool - {{.Script.Name}}</title>
	</head>
	<body class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Toadstool</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{.Script.Name}}</li>
			</ol>
		</nav>
		<div class="row no-gutters">
			<h3 class="col">{{.Script.Name}}</h3>
			<div class="col">
				<button id="clear" type="button" class="btn btn-secondary float-right" style="margin-left: 10px">Clear</button>
				<button id="run" type="button" class="btn btn-primary float-right">Run</button>
				<div class="progress progressbar-container float-right">
					<div id="uploadProgress" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<span class="col">{{.Script.Desc}}</span>
		</div>
		<div class="row no-gutters">
			<h5 class="col">Arguments</h5>
		</div>
		<div class="row no-gutters">
			<form id="args" enctype="multipart/form-data" class="col">
				<table class="table table-striped table-hover" style="width: 100%">
					<tbody>
						{{range $index, $arg := .Script.Args}}
							<tr>
								<td>{{$arg.HumanName}}</td>
								<td>
									{{if eq $arg.ValueType $.INT}}
										<input name="arg_{{$index}}" type="number" step="1" pattern="-?\d+" />
									{{else if eq $arg.ValueType $.FLOAT}}
										<input name="arg_{{$index}}" type="number" step="any" pattern="-?\d*(\.\d+)?" />
									{{else if eq $arg.ValueType $.BOOL}}
										{{if eq $arg.Action $.STORE_TRUE}}
											<input name="arg_{{$index}}" type="checkbox" />
										{{else if eq $arg.Action $.STORE_FALSE}}
											<input name="arg_{{$index}}" type="checkbox" checked />
										{{end}}
									{{else}}
										<input name="arg_{{$index}}" class="serverFilePath" type="text" />
									{{end}}
								</td>
								<td>{{$arg.Help}}</td>
							</tr>
						{{end}}
					</tbody>
				</table>
			</form>
		</div>
	</body>
</html>
